In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('C:/Users/Admin/Glaucoma_Data.csv')
df.head()

,casetype,age,gender,education,employment,heightcm1,weightkg1,sys_press_meas1,dia_press_meas1,cigs_100,...,sup_rnft_re,sup_rnft_le,inf_rnft_re,inf_rnft_le,nasal_rnft_re,nasal_rnft_le,temp_rnft_re,temp_rnft_le,mean_rnfl_thick_re,mean_rnfl_thick_le
0,2,68.0,1,3.0,1.0,166,66.0,180.0,90.0,0.0,...,106.0,100.0,97.0,94.0,87.0,98.0,68.0,67.0,101.0,97.0
1,2,78.0,1,5.0,1.0,163,78.0,140.0,90.0,0.0,...,123.0,111.0,108.0,110.0,76.0,89.0,98.0,64.0,116.0,110.0
2,2,67.0,1,3.0,1.0,159.6,61.0,100.0,60.0,1.0,...,92.0,80.0,88.0,80.0,74.0,70.0,62.0,63.0,96.0,80.0
3,1,71.0,1,5.0,2.0,169.5,52.0,130.0,70.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,43.0,2,5.0,1.0,158,71.0,100.0,60.0,0.0,...,NaN,63.0,NaN,62.0,NaN,52.0,NaN,56.0,NaN,62.0

In [4]:
df.shape

(2000, 40)

In [5]:
df.select_dtypes(include=['number']).columns

Index(['casetype', 'age', 'gender', 'education', 'employment', 'weightkg1',
       'sys_press_meas1', 'dia_press_meas1', 'cigs_100', 'alcohol', 'hbp',
       'diab', 'famhist_glaucoma', 'vis_acuity_re_2', 'vis_acuity_le_2',
       'iop_re_1', 'iop_le_1', 'iop_re_high', 'iop_le_high', 'vis_field_md_re',
       'vis_field_psd_re', 'vis_field_ght_re', 'vis_field_md_le',
       'vis_field_psd_le', 'vis_field_ght_le', 'axial_re', 'axial_le',
       'thick_re', 'thick_le', 'sup_rnft_re', 'sup_rnft_le', 'inf_rnft_re',
       'inf_rnft_le', 'nasal_rnft_re', 'nasal_rnft_le', 'temp_rnft_re',
       'temp_rnft_le', 'mean_rnfl_thick_re', 'mean_rnfl_thick_le'],
      dtype='str')

In [6]:
df.select_dtypes(include=['object']).columns

C:\Users\Admin\AppData\Local\Temp\ipykernel_7956\549554427.py:1: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  df.select_dtypes(include=['object']).columns

Index(['heightcm1'], dtype='str')

In [7]:
df.describe(include='all')

,casetype,age,gender,education,employment,heightcm1,weightkg1,sys_press_meas1,dia_press_meas1,cigs_100,...,sup_rnft_re,sup_rnft_le,inf_rnft_re,inf_rnft_le,nasal_rnft_re,nasal_rnft_le,temp_rnft_re,temp_rnft_le,mean_rnfl_thick_re,mean_rnfl_thick_le
count,2000.000000,956.000000,2000.000000,1995.000000,1990.000000,1828,1813.000000,1852.000000,1852.000000,1998.000000,...,1278.000000,1239.000000,1278.000000,1238.000000,1263.000000,1221.000000,1264.000000,1220.000000,1272.000000,1229.000000
unique,NaN,NaN,NaN,NaN,NaN,334,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,156,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,61,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,1.402500,66.475941,1.553500,11.803509,1.395477,NaN,68.181412,130.206263,77.822354,0.665165,...,88.456964,87.948345,83.487480,83.197900,70.854315,70.081081,62.561709,60.782787,85.701258,85.727421
std,0.490524,9.902057,0.497254,67.149629,0.490103,NaN,13.518170,20.986003,13.047819,22.349849,...,19.118825,18.992403,18.662382,17.975158,16.819287,16.684119,13.320972,12.908571,18.291212,18.096279
min,1.000000,39.000000,1.000000,0.000000,1.000000,NaN,33.000000,80.000000,40.000000,0.000000,...,36.000000,5.000000,24.000000,3.000000,3.000000,6.000000,22.000000,25.000000,34.000000,38.000000
25%,1.000000,60.000000,1.000000,3.000000,1.000000,NaN,59.000000,120.000000,70.000000,0.000000,...,74.000000,75.000000,70.000000,70.000000,60.000000,60.000000,54.000000,52.000000,72.000000,73.000000
50%,1.000000,67.000000,2.000000,4.000000,1.000000,NaN,67.000000,130.000000,80.000000,0.000000,...,91.000000,91.000000,86.000000,86.000000,72.000000,71.000000,62.000000,61.000000,89.000000,89.000000
75%,2.000000,72.000000,2.000000,5.000000,2.000000,NaN,76.000000,140.000000,90.000000,0.000000,...,103.000000,101.000000,97.000000,96.000000,83.000000,79.000000,71.000000,69.000000,99.000000,99.000000
max,2.000000,96.000000,2.000000,555.000000,3.000000,NaN,135.000000,230.000000,150.000000,999.000000,...,153.000000,146.000000,200.000000,134.000000,134.000000,170.000000,124.000000,123.000000,150.000000,198.000000

In [ ]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler

num_cols = df.select_dtypes(include=['number']).columns
cat_cols = df.select_dtypes(include=['object']).columns

num_pipeline = Pipeline(
    steps= [
        ('imputer', SimpleImputer(strategy='mean')),
        ('scaler', StandardScaler())
    ]
)

cat_pipeline = Pipeline(
    steps = [
        ('imputer', SimpleImputer(strategy='most_frequent')),
        ('scaler', StandardScaler())
    ]
)

preprocessor = ColumnTransformer(
    transformers= [
        ('num', num_pipeline, num_cols),
        ('cat', cat_pipeline, cat_cols)
    ]
)
df_imputed = pd.DataFrame(preprocessor.fit_transform(df), columns= list(num_cols)+list(cat_cols))

C:\Users\Admin\AppData\Local\Temp\ipykernel_7956\1577301926.py:6: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  cat_cols = df.select_dtypes(include=['object']).columns

In [16]:
df_imputed.heightcm1.unique

<bound method Series.unique of 0         166
1         163
2       159.6
3       169.5
4         158
        ...
1995      156
1996      150
1997      154
1998      170
1999      155
Name: heightcm1, Length: 2000, dtype: str>

In [20]:
cols = df.columns

In [21]:
cols

Index(['casetype', 'age', 'gender', 'education', 'employment', 'heightcm1',
       'weightkg1', 'sys_press_meas1', 'dia_press_meas1', 'cigs_100',
       'alcohol', 'hbp', 'diab', 'famhist_glaucoma', 'vis_acuity_re_2',
       'vis_acuity_le_2', 'iop_re_1', 'iop_le_1', 'iop_re_high', 'iop_le_high',
       'vis_field_md_re', 'vis_field_psd_re', 'vis_field_ght_re',
       'vis_field_md_le', 'vis_field_psd_le', 'vis_field_ght_le', 'axial_re',
       'axial_le', 'thick_re', 'thick_le', 'sup_rnft_re', 'sup_rnft_le',
       'inf_rnft_re', 'inf_rnft_le', 'nasal_rnft_re', 'nasal_rnft_le',
       'temp_rnft_re', 'temp_rnft_le', 'mean_rnfl_thick_re',
       'mean_rnfl_thick_le'],
      dtype='str')